body {
    width: 100%;
}
.header {
    width: 100%;
}
.title-box {
    width: 100%;
    margin: 0 auto;
}
.title-box h1 {
    font-size: 80px;
    /*border: 2px solid black;*/
    text-align: center;
    margin-bottom: 20px;
    text-align: center;
    font-family: Brush Script MT;
    color: #58257b;
}

.search-form {
    /*    position: absolute;
        right: 10%;*/
/*        border: 2px solid black;*/
    height: 71px;
    float: right;
}
.search-item {
    /*    border: 1px solid black;*/
    padding: 11px;
}
.search-item input[type=text] {
    margin-left: 25px;
    border: 2px solid #58257b;
    border-radius: 20px;
    text-align: center;
    color: black;
    font-size: 20px;
    padding: 7px;
}
.search-item input[type=submit] {
    margin-left: 20px;
    border: 1px solid #58257b;
    border-radius: 20px;
    text-align: center;
    color: white;
    font-size: 20px;
    padding: 5px 10px;
    background-color:darkcyan;
}
.search-item input[type=submit]:hover{
    color: black;
    background-color: greenyellow;
}


* {
    margin:0px;
    padding:0px;
}
.clearfix:after {
    display:block;
    clear:both;          
}
.wrapper {
    width:100%;
    box-shadow:0px 1px 3px rgba(0,0,0,0.2); 
    /*    background:#58257b;*/
/*    border: 2px solid black;*/
}

/*----- Phần menu -----*/
.menu {
/*    width:1000px;
    background:#bf5c71;*/
    background:#58257b;
    height: 71px;
    /*    margin-top: 150px;*/
}
.menu li {
    margin:0px;
    list-style:none;
    font-family:'Ek Mukta';
}
.menu a {
    transition:all linear 0.15s;
    color:#919191;
    text-decoration:none;
}
.menu li:hover > a, .menu .current-item > a {
    text-decoration:none;
    color:#be5b70;
} 
.menu .arrow {
    font-size:20px;
    line-height:0%;
} 
/*----- css cho phần menu cha -----*/
.menu > ul > li {
    float:left;
    display:inline-block;
    position:relative;
    font-size:20px;
}
.menu > ul > li > a {
    padding:20px 20px;
    display:inline-block;
    color:white;
}
.menu > ul > li:hover > a {
    /*    background:#58257b;*/
    background:#bf5c71;
    color: white;
}
/*----css cho menu con----*/
.menu li:hover .sub-menu {
    z-index:1;
    opacity:1;
}
.sub-menu {
    width:290px;
    padding:5px 0;
    position:absolute;
    top:100%;
    left:25px;
    z-index:-1;
    opacity:0;
    transition:opacity linear 0.15s;
    box-shadow:0px 2px 3px rgba(0,0,0,0.2);
    background:#58257b;
}
.sub-menu li {
    display:block;
    font-size:16px;
}
.sub-menu li a {
    padding:10px 30px;
    display:block;
    font-size: 20px;
}
.sub-menu li a:hover, .sub-menu .current-item a {
    background:#bf5c71;
    color: white;
}